
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//partners slide
@import 'partnerslide';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.menu-active {
	color: red !important;
}
#sidebarCollapse {
	padding: 11px 11px;
	background: #fff;
    position: relative;
    overflow: hidden;
    min-width: 42px;
    height: 42px;
    vertical-align: middle;
    font-size: 20px;
	border-radius: 50%;
	border: none;
	box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(152, 152, 152, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1em;
    margin-right: 10px;
    cursor: pointer;
}
#sidebarCollapse:hover {
	box-shadow: 1px 1px 15px 2px rgba(153, 153, 153, 0.7);
}
#sidebarCollapse:focus, .admin-search:focus {
	outline: none;
}
.menu {
	margin-left: 270px;
	padding: 20px;
	font-size: 20px;
	font-weight: 300;
	color: #000;
}
.admin-search {
	border: none;
	background: none;
	border-bottom: 1px solid #000;
	font-weight: 300;
}
.admin-search:hover, .admin-search:focus {
	border: none;
	border-bottom: 2px solid #000;
}
.search-admin {
	display: inline-flex;
}
.float-right {
	float: right;
	cursor: pointer;
}
.icons {
	margin-left: 93px;
	vertical-align: middle;
	line-height: 2em;
	display: inline-flex;
}
.icons li {
	padding-right: 40px;
}
.icons li i {
	color: #000;
	cursor: pointer;
}
.nav-bar {
	background: url(/images/macbook.jpg);
	background-repeat: no-repeat;
	width: 260px;
    height: 100%;
    top: 0;
    bottom: 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    transition-property: top, bottom, width;
    transition-duration: .2s, .2s, .35s;
    transition-timing-function: linear, linear, ease;
    z-index: 1;
    display: block;
    position: fixed;
    transition: all 300ms linear;
    background-size: cover;
    background-position: center center;
}
.nav-bar:before, .nav-bar:after {
	top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    content: "";
    display: block;
    position: absolute;
}
.nav-bar:after {
	opacity: .8;
    background: #000;
}
.overlay {
	background: #000;
    opacity: 0.6;
    width: 260px;
    height: 100%;
    z-index: 1;
    position: absolute;
}
#po-rel {
	position: relative;
	z-index: 10000;
}
.heading-nav h1 {
	z-index: 100;
	color: #fff;
	border-bottom: 1px solid #fff;
	padding: 13px;
}
.nav-lists {
	padding: 20px;
	margin: 0 20px;
	z-index: 300;
	border-bottom: 1px solid #fff;
	width: 100%;
	margin-left: 0px;
}
.nav-lists:hover {
	a, i {
		color: rgba(255, 255, 255, 1);
		transition: 0.5s ease-in-out;
	}
}
.nav-lists a, .nav-lists i {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 17px;
	font-weight: bolder;
	cursor: pointer;
	padding-bottom: 20px;
}
.nav-lists i {
	margin-right: 20px;
}

.font-small {
	font-size: 12px !important;
}

.form-control:focus, .select2:focus, .select2-container--focus, 
.select2-search__field:focus, .selection:focus, .select2-selection:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border-color: #c4c4c4d1 !important;
}

.text-decoration-none {
	&:hover {
		text-decoration: none !important;
	}
}

.top-navi {
	background-color: $brown;

	.top-navi-right {
		a:hover {
			color: #000 !important;
		}
	}
}

.logo-and-search {

	.logo {
		margin-top: 20px;
	}

	.cart-button {
		line-height: 26px;
	}
}

#menutabs a, .top-navi a {
	cursor: pointer;
}

.breadcrumb {

	li {
		position: relative;
		padding: 0 20px;

		a:after {
			content: '';
			display: block;
			position: absolute;
			top: -3px;
		    right: -5px;
		    width: 30px;
		    height: 30px;
		    border-right: 1px solid #ddd;
		    border-bottom: 1px solid #ddd;
		    transform: rotate(-45deg);
		}
	}
}

.previous-icon, .next-icon {
	font-size: 60px;
	color: $black;
}

@mixin viewbutton() {

	background: $black;
	color: $white !important;
}

.viewButton {
	button {
		&:hover {
			@include viewbutton();
		}
		&:focus {
			box-shadow: none;
		}
	}
}
.product-show {
	font-size: 18px;
}
.viewactive {
	@include viewbutton();
}
footer {
	background: $black;
	color: rgba(255, 255, 255, 0.5);
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}